@import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/bg\ img.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Forum', cursive;
}

.logoImagem {
    width: 5em;
    margin-right: 0.2em;
    margin-left: 5em;
    margin-top: 1.2em;
}

.containerLogo {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    transition: all 0.3s;
    cursor: default;
}

.logo-texto {
    margin-left: 20px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
    padding-right: 1em;
}

.menu li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 6px;
}

.menu li a:hover {
    background-image: linear-gradient(to right,  #F28963, #F25D50);
}

h1 {
    display: flex;
    flex-direction: center;
    justify-content: center;
    color: #DDD4D5;
    margin-top: 0.5em;
    padding: 0.8em;
    padding-bottom: 1em;
    font-size: 50px;
    font-family: hP;
    letter-spacing: 0.03em;
}

h1:hover {
    cursor: default;
}

section {
    border-image: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section:hover {
    cursor: default;
}

footer{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    gap: 0.5em; */
    background: rgba(226, 220, 220, 0.5);
}
