@import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@300&display=swap');

body {
    background-color: #000102;
}

/* HEADER */
#navbar {
    width: 100%;
    background-color: #000102;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 212, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} /* alteração do botao hamburguer*/

a {
    color: #32D4E7;
}

a:hover {
    color: #FFFFFF;
}

/* alterei as cores dos links e hover */
.nav-link{
    color: #32D4E7;
}

.nav-link:hover{
    color: #FFFFFF;

}

.navbar-nav .nav-link {
    text-align: center;
}

#botaoLogin {
    background-color: #32D4E7;
    border: none;
}

#botaoLogin:hover{
    background-color:  #FFFFFF;
    color: #32D4E7;
}
.divbotao{
    padding-right: 1em;
    padding-left: 0.7em;
    text-align: center;
}

img {
    width: 120px;
    padding-left: 1em;
}
