/*Gerais*/
body {
    font-family: 'Inter', sans-serif;
    background-color: #000102;
}

/*Div com logo e cards*/
#cardsELogo {
    margin-top: 120px;
}

/*Cards de cadastro e login*/
#telaLogin {
    width: 360px;
    background-color: #000102fe;
    color: #ffffff;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #32D4E7;
}

p {
    font-size: 88px;
}

#senha:hover {
    color: #32D4E7;
}

#logo {
    width: 200px;
}

/*Botões*/
.btn {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

.btn:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

.container {
    max-width:100%;
    width: 100%;
}


/* HEADER */
#navbar {
    width: 100%;
    background-color: #000102;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 212, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} /* alteração do botao hamburguer*/

a {
    color: #32D4E7;
}

a:hover {
    color: #FFFFFF;
}

/* cores dos links e hover */
.nav-link{
    color: #32D4E7;
}

.nav-link:hover{
    color: #FFFFFF;

}

.navbar-nav .nav-link {
    text-align: center;
}

#botaoLogin {
    background-color: #32D4E7;
    border: none;
}

#botaoLogin:hover{
    background-color:  #FFFFFF;
    color: #32D4E7;
}
.divbotao{
    padding-right: 1em;
    padding-left: 0.7em;
    text-align: center;
}

img {
    width: 120px;
    padding-left: 1em;
}

@media (max-width: 575.98px) { 

    h1{
        font-size: 12px;
    }

    a{
        font-size: 12px;
    }

    bottom{
        font-size: 12px;
    }



}





