* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/Background.png);
    background-size: cover;
    width: 100%;
    color: white;
    font-family :  'Inter' , sans-serif serifa;
    margin-top: 0;
}

.imgIcon {
    width: 120px;
}

#navbar {
    width: 100%;
    background-color: #000102;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 212, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


a {
    color: #32D4E7;
}

a:hover {
    color: #FFFFFF;
}


.nav-link {
    color: #32D4E7;
}

.nav-link:hover {
    color: #FFFFFF;

}

.navbar-nav .nav-link {
    text-align: center;
}

#botaoLogin {
    width: 200px;
}

#botaoLogin:hover {
    background: #32D4E7;
    color: #FFFFFF;
}

.navbar-nav .nav-link.active {
    color: #32d4e7
}

.navbar-nav .nav-link.active:hover {
    color: #FFFFFF;
}


h2 {
    margin-left: 25px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;


}

.conteudo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    height: 380px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #32d4e7;
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
    margin-left: 50px;
    background-color: rgba(0 188 212 / 9%);

}

.conteudo:hover {
    transition: 2s;
    transform: scale(1.1);

}

p {
    font-size: 12px;
}

.img {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    width: 180px;
    height: 185px;
    border-radius: 25px;
    padding: 10px;
    object-fit: cover;
}

.descricao {
    margin-top: 10px;
}



.contato {
    display: flex;
    justify-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 530px;
    margin-top: 40px;
}


.forms {
    background: #000102;
    height: 450px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 3px solid #32d4e7;
    border-radius: 10px;
    padding: 20px;
    margin-right: 70px;

}


.form-contato {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

}

h3 {
    text-align: center;
}


input {
    margin-top: 5px;
    border: 3px solid #32d4e7;
    border-radius: 6px;
    height: 33px;
}


textarea {
    margin-top: 10px;
    max-height: 100px;
    min-height: 10px;
    border: 3px solid #32d4e7;
    border-radius: 5px;
}


button {
    width: 150px;
    margin-top: 10px;
}


footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    background-color: #0E3347;
    position: 0;

}

.f1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f2 {
    width: 50vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: justify;
}



.icone {
    height: 140px;
}

li {
    list-style-type: none;
}

.btn {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

.btn:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

@media (max-width: 768px) {


    footer {
        font-size: smaller;
        height: 40%;
        width: 100%;
        flex-direction: column;
        margin: 5px;
        flex-wrap: nowrap;
        font-size: 12px;
    }

    h6 {
        font-size: 10px;

    }

    .f2 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: unset;
        text-align: center;
        font-size: 12px;
        vertical-align: text-top;
    }

    .icone {
        max-width: 100px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

    .btn {
        color: #32D4E7;
        background-color: #000102;
        border-color: #32D4E7;
    }

    .btn:hover {
        color: #ffffff;
        background-color: #32D4E7;
    }
}

.f2 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}



.popup-btn {
    display: block;
    margin: 20px auto;
    background-color: #32d4e7;
    color: white;
    border: 0;
    cursor: pointer;
    padding: 6px 10px;
}

a {
    text-decoration: none;
    color: white;
}

.popup-wrapper {
    display: none;
    background: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-wrapper:hover {
    transition: 4s;
    transform: scale(1.1);

}

.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}


.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: black;

}

.popup-content {
    color: black;
}


@media(max-width:1025px) {
    body {
        width: 100%;
    }

    .container {
        width: 100%;
        display: flex;
    }

    .conteudo {
        width: 44%;
        font-size: 11px;
    }

}

@media(max-width:769px) {
    body {
        width: 100%;
    }

    .conteudo {
        width: 90%;
    }
}

@media(max-width:426px) {
    body {
        width: 100%;
        font-size: 12px;
    }

    main {
        width: 100%;
    }

    img {
        width: 135px;
        height: 140px;
    }

    .container {
        width: 100%;
    }

    .conteudo {
        width: 80%;
    }

    .contato {
        width: 100%;

    }

    .form {
        width: 72%;
    }
}

@media(max-width:376px) {
    body {
        width: 100%;
        font-size: 12px;
    }

    img {
        width: 135px;
        height: 140px;
    }

    .container {
        width: 90%;
    }

    .conteudo {
        width: 90%;
        margin-left: 5px;
    }

    .contato {
        width: 100%;

    }

    .forms {
        width: 73%;
    }

    footer {
        width: 100%;
    }

}


@media(max-width:321px) {
    body {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .container {
        width: 90%;
    }

    .conteudo {
        width: 100%;
    }

    .contato {
        width: 100%;
    }

    .forms {
        width: 75%;
        margin: 32px;
    }
}