/*Gerais*/
body {
    font-family: 'Inter', sans-serif;
    background-color: #000102;
    /* margin: auto; */
}

/*Cards de cadastro e login*/

#telaLogin {
    width: 360px;
    background-color: #000102fe;
    color: #ffffff;
}

h1 {
    text-align: center;
    color: #32D4E7;
}

footer{
    position: fixed;
    bottom: 0;
}

#seta {
    font-size: 88px;
    text-align: center;
    align-items: center;
}

#esquecerSenha:hover {
    color: #32D4E7;
}

#logo {
    width: 150px;
}

/*Botões*/
.btn {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

.btn:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

.container {
    max-width: 100%;
    width: 100%;
}

@media screen and (max-width: 768px) {

    footer{
        margin: 0;
        height: 220px;
    }


}