body {
    font-family: 'Inter', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 20%;

}

/* * HEADER */
#navbar {
    width: 100%;
    background-color: #000102;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 212, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* alteração do botao hamburguer*/

a {
    color: #32D4E7;
}

a:hover {
    color: #FFFFFF;
}

/* alterei as cores dos links e hover */
.nav-link {
    color: #32D4E7;
}

.nav-link:hover {
    color: #FFFFFF;

}

.navbar-nav .nav-link {
    text-align: center;
}

textarea::placeholder {
    color: #124E67;
    text-align: center;
}

#botaoLogin:hover {
    background-color: #FFFFFF;
    color: #32D4E7;
}

.divbotao {
    padding-right: 1em;
    padding-left: 0.7em;
    text-align: center;
}

img {
    width: 120px;
    padding-left: 1em;
}


/* FOOTER */
footer {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    background-color: #0E3347;

}

.f1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f2 {
    width: 50vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: justify;
}

.icone {
    height: 140px;
}

li {
    list-style-type: none;
}

.btn {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

.btn:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

@media (max-width: 768px) {


    footer {
        font-size: smaller;
        height: 40%;
        width: 100%;
        flex-direction: column;
        margin: 5px;
        flex-wrap: nowrap;
        font-size: 12px;
    }

    h6 {
        font-size: 10px;

    }

    .f2 {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: unset;
        text-align: center;
        font-size: 12px;
        vertical-align: text-top;
    }

    .icone {
        max-width: 100px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

    .btn {
        color: #32D4E7;
        background-color: #000102;
        border-color: #32D4E7;
    }

    .btn:hover {
        color: #ffffff;
        background-color: #32D4E7;
    }
}