@import url('https://fonts.googleapis.com/css2?family=Forum&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@300&display=swap');

body {
    background-color: #000102;
}

#pacoteColaborador,
#pacoteSimples,
#pacoteCompleto {
    color: #124E67;
    font-family: 'Inter', sans-serif;
}

#btnComece {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

#btnComece:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

#h1 {
    color: white;
    font-family: 'Forum', cursive;
}

#compare,
#colab,
#simp,
#comp {
    color: white;
    font-family: 'Inter', sans-serif;
}

#tbody,
#tbodyUm {
    color: white;
}

#compare {
    font-family: 'Forum', cursive;
}

#check {
    color: white;
}

.card {
    width: 100%;
}


/* HEADER */
#navbar {
    width: 100%;
    background-color: #000102;
}

#navbarNavAltMarkup {
    justify-content: flex-end;
    font-family: 'Inter', sans-serif;
}

/* alteração do botao hamburguer*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50, 212, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


a {
    color: #32D4E7;
}

a:hover {
    color: #FFFFFF;
}

/* alterei as cores dos links e hover */
.nav-link {
    color: #32D4E7;
}

.nav-link:hover {
    color: #FFFFFF;

}

.navbar-nav .nav-link {
    text-align: center;
}

/* botao editado teste */
#botaoLogin {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;

}

/* testes que eu fiz no hover do botao */
#botaoLogin:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

.divbotao {
    padding-right: 1em;
    padding-left: 0.7em;
    text-align: center;
}

img {
    width: 120px;
    padding-left: 1em;
}


footer {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFFFFF;
    background-color: #0E3347;

}

.f1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f2 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    text-align: justify;
}

.icone {
    height: 150px;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 768px) {

    footer {
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}