/*Gerais*/
body {
    font-family: 'Inter', sans-serif;
    background-color: #000102;
    margin: auto;
    height: 100%;
}

/*Campo de recuperar senha*/
#recuperarSenha {
    width: 460px;
    background-color: #000102;
    color: #ffffff;
}

p {
    font-size: 20px;
    margin-top: 40px;
}

#logo {
    width: 150px;
}

/*Botões dos cards*/
.btn {
    color: #32D4E7;
    background-color: #000102;
    border-color: #32D4E7;
}

.btn:hover {
    color: #ffffff;
    background-color: #32D4E7;
}

/*Poupup*/
.popup-btn {
    display: block;
    margin: 20px auto;
    background-color: #124E67;
    color: #ffffff;
    border: 0;
    cursor: pointer;
    padding: 6px 30px;
    border-radius: 8px;
}

.popup-wrapper {
    display: none;
    background: #00000080;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.popup {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10% auto;
    padding: 20px;
    background: #ffffff;
    position: relative;
    border-radius: 10px;
}


.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: black;

}

@media screen and (max-width: 768px) {
    #recuperarSenha{
        width: 300px;
    }

    p{
        font-size: 12px;
    }

    footer{

        margin: 0;
    }

    ul{
        padding: 0;
        margin: 20px;

        padding: 1;
master
    }
}
