body {
    font-family: 'forum';
    background-color: black;
}

.section {
    color: white;
    margin-left: 100px;
}

.float-container {
    padding: 0%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    border: 0px;
    margin-left: 300px;
}

.float-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-div {
    padding: 0px;
    text-align: center;
    margin: 50px;
    margin-top: 10px;
}

.vertical {
    border-left: 4px solid white;
    height: 300px;
    position: relative;
    margin-right: 20px;

}

.div_submit {
    width: 80%;
    color: #32D4E7;
    padding: 25px;
    border-radius: 5px;
    border-color: #0E3347;
    width: max-content;
    background-color: black;
    margin-left: 500px;
}